body {
    /* bring your own prefixes */
    background: #E5E5E5;
    text-align: center
}

@font-face {
    font-family: BebasNeue;
    src: url(BebasNeue_Bold.ttf);
}

p {
    font-family: BebasNeue;
    font-size: 40px;
    color: #242424;
}

input {
    border-radius: 5px;
    margin-bottom: 50px;
    height: 7%;
    width: 100%;
    border-color: rgba(50, 50, 50, 0.2);
    background-color: transparent;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-size: 15px;
}

input[type=button] {
    background-color: #FFBF00;
    font-family: BebasNeue;
    font-size: 25px;
    width: 50%;
    height: 10%;
}

input[type=text]:focus,
[type=password]:focus {
    border: 2px solid rgba(50, 50, 50, 1);
}

.form {
    width: 100%;
    max-width: 40rem;
    margin: auto;
}

fieldset {
    text-align: center;
}

label {
    float: left;
    width: 25%;
    margin-right: 0.5em;
    padding-top: 0.2em;
    text-align: right;
    font-weight: bold;
}

[placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.2s 0.2s ease;
    text-indent: -100%;
    opacity: 0.5;
}

::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
    /* Chrome/Opera/Safari */
    color: #323232;
    opacity: .5;
}
